        <p id="blah">
          This is the latest build of Helium for $pretty_name, right off the release feed.<br/>
          Once installed it <a class="canary" href="$releases_url">keeps itself up to date</a>, so you only ever need this page once. </p>
          <a id="download" href="$download_path">
            <div class="button">
              <span>download</span><span>helium</span>
              <img id="logo" src="/logo.png" width="128px" height="128px"/>
            </div>
          </a>
          <small style="opacity:0" class="rev">Build Version: <a class="rev-num"></a> <span></span></small>
